@model PanelViewModel
@{
}
<h2>Admin Panel</h2>
<div>
    <h3>Posted posts</h3>
    <ul>
        @foreach(var post in Model.Posts.Where(p => p.Shown))
        {
            <li>
                <p>@post.Title</p> 
                <a asp-controller="Panel" asp-action="EditPost" asp-route-id="@post.Id">
                    --Edit
                </a>
                <a asp-controller="Panel" asp-action="RemovePost" asp-route-id="@post.Id">
                    --Remove
                </a>
                <a asp-controller="Panel" asp-action="ChangeShowingPost" asp-route-id="@post.Id">
                    --Hide
                </a>
            </li>
        }
    </ul>
    <h3>Hided posts</h3>
    <ul>
        @foreach(var post in Model.Posts.Where(p => !p.Shown))
        {
            <li>
                <p>@post.Title</p> 
                <a asp-controller="Panel" asp-action="EditPost" asp-route-id="@post.Id">
                    --Edit
                </a>
                <a asp-controller="Panel" asp-action="RemovePost" asp-route-id="@post.Id">
                    --Remove
                </a>
                <a asp-controller="Panel" asp-action="ChangeShowingPost" asp-route-id="@post.Id">
                    --Show
                </a>
            </li>
        }
    </ul>

    <h3>Category</h3>
    <ul>
        @foreach(var cat in Model.Categories)
        {
            <li>
                <p>@cat.Name</p>
                <a asp-controller="Panel" asp-action="EditCategory" asp-route-id="@cat.Id">
                    --Edit
                </a>
                <a asp-controller="Panel" asp-action="RemoveCategory" asp-route-id="@cat.Id">
                    --Remove
                </a>
                <a asp-controller="Home" asp-action="Index" asp-route-category="@cat.Name">
                    --Show Posts
                </a>
            </li>
        }
    </ul>
</div>
